:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --movein: rgb(255,0,112);
  --soft-pink: rgb(241,178,206);
  --pure-magenta: rgb(219,0,255);
  --dark-blue: rgb(0,0,40);
  --bg-accent-color: var(--movein);
  --text-color: var(--soft-pink);
  --text-accent-color:var(--dark-blue);
  --accent-color: var(--movein);
  --border: 1px solid var(--accent-color);
  --header-title-color: var(--pure-magenta);
  --section-title-color: var(--movein);
  --header-button: var(--movein);
  --hover: rgb(255, 0, 112, 0.5);
}

.theme-dark .page {
  background-image: var(--bg-image);
  background-color: var(--dark-blue);
}

.theme-dark .rec-decoration::before {
  display: block;
}
  
.theme-dark .rec-decoration::after {
  display: block;
  }

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url('../images/cover-image-dark.png');
    --movein: rgb(255,0,112);
    --soft-pink: rgb(241,178,206);
    --pure-magenta: rgb(219,0,255);
    --dark-blue: rgb(0,0,40);
    --bg-accent-color: var(--movein);
    --text-color: var(--soft-pink);
    --text-accent-color:var(--dark-blue);
    --accent-color: var(--movein);
    --border: 1px solid var(--accent-color);
    --header-title-color: var(--pure-magenta);
    --section-title-color: var(--movein);
    --header-button: var(--movein);
    --hover: rgb(255, 0, 112, 0.5);
  }

  .page {
    background-image: var(--bg-image);
    background-color: var(--dark-blue);
  }
  
  .rec-decoration::before {
    display: block;
  }
    
  .rec-decoration::after {
    display: block;
    }
}
