:root.theme-light {
  --bg-image: url('/images/cover-image-light.png');
  --very_palePink: rgb(255,241,247);
  --palePink: rgb(255,194,230);
  --lightPink: rgb(255,141,203);
  --darkGray: rgb(53,52,48);
  --bg-accent-color: var(--lightPink);
  --text-color: var(--darkGray);
  --text-accent-color: var(--darkGray);
  --accent-color: var(--lightPink);
  --border: 1px solid var(--darkGray);
  --header__title-color: var(--palePink);
  --header__button: var(--darkGray);
  --hover: rgb(53,52,48,0.5);
}

.theme-light .rec-decoration::before {
  display: none;
}

.theme-light .rec-decoration::after {
  display: none;
}

.theme-light .page {
  background-color: var(--very_palePink);
  background-image: var(--bg-image);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('/images/cover-image-light.png');
    --very_palePink: rgb(255,241,247);
    --palePink: rgb(255,194,230);
    --lightPink: rgb(255,141,203);
    --darkGray: rgb(53,52,48);
    --bg-accent-color: var(--lightPink);
    --text-color: var(--darkGray);
    --text-accent-color: var(--darkGray);
    --accent-color: var(--lightPink);
    --border: 1px solid var(--darkGray);
    --header__title-color: var(--palePink);
    --header__button: var(--darkGray);
    --hover: rgb(53,52,48,0.5);
  }

  .page {
    background-color: var(--very_palePink);
    background-image: var(--bg-image);
  }

  .rec-decoration::after {
    display: none;
  }

  .rec-decoration::before {
    display: none;
  }
}