/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url('/images/cover-image-dark.png');
  --movein: rgb(255,0,112);
  --softPink: rgb(241,178,206);
  --pureMagenta: rgb(219,0,255);
  --darkBlue: rgb(0,0,40);
  --bg-accent-color: var(--movein);
  --text-color: var(--softPink);
  --text-accent-color:var(--darkBlue);
  --accent-color: var(--movein);
  --border: 1px solid var(--accent-color);
  --header__title-color: var(--pureMagenta);
  --text-shadow: 4px 4px 0 var(--accent-color);
  --header__title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size: 18px;
  --main__font-family: 'IBM Plex mono', sans-serif;
  --line-height: calc(23.4 / 18);
  --bold: 700;
  --regular: 400;
  --gap: 40px;
  --padding: 10px;
  --margin: 40px;
}
